flows.json
[{"id":"b4513f08.5e3da","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"91734c3c.76726","type":"inject","z":"b4513f08.5e3da","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"6","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":40,"wires":[["b47a034c.79777"]]},{"id":"b47a034c.79777","type":"debug","z":"b4513f08.5e3da","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":40,"wires":[]},{"id":"417a62d0.bd7acc","type":"debug","z":"b4513f08.5e3da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":140,"wires":[]},{"id":"f2533407.5d9148","type":"ibmiot in","z":"b4513f08.5e3da","authentication":"apiKey","apiKey":"8e5f6683.259648","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"swathi","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":140,"wires":[["417a62d0.bd7acc","1d4b46c3.c7ca89","9ed4e3c6.6829f"]]},{"id":"1d4b46c3.c7ca89","type":"function","z":"b4513f08.5e3da","name":"","func":"global.set(\"temperature\",msg.payload.d.temperature);\nreturn {payload:msg.payload.temperature}","outputs":1,"noerr":0,"x":250,"y":260,"wires":[["417a62d0.bd7acc","bd69c019.7408c"]]},{"id":"9ed4e3c6.6829f","type":"function","z":"b4513f08.5e3da","name":"","func":"global.set(\"humidity\",msg.payload.d.humidity);\nreturn {payload:msg.payload.humidity}","outputs":1,"noerr":0,"x":250,"y":320,"wires":[["417a62d0.bd7acc","36fdbe34.925f82"]]},{"id":"bd69c019.7408c","type":"ui_gauge","z":"b4513f08.5e3da","name":"","group":"89317f3f.af379","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#ff80ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":260,"wires":[]},{"id":"36fdbe34.925f82","type":"ui_gauge","z":"b4513f08.5e3da","name":"","group":"89317f3f.af379","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#0000ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":320,"wires":[]},{"id":"6facfde2.e77154","type":"http in","z":"b4513f08.5e3da","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":360,"wires":[["57db845c.1f622c"]]},{"id":"57db845c.1f622c","type":"function","z":"b4513f08.5e3da","name":"","func":"msg.payload={\"temperature\":global.get(\"temperature\"),\"humidity\":global.get(\"humidity\")\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["427c923e.a66acc"]]},{"id":"427c923e.a66acc","type":"http response","z":"b4513f08.5e3da","name":"","statusCode":"","headers":{},"x":570,"y":360,"wires":[]},{"id":"f97ab2d5.786a4","type":"ui_button","z":"b4513f08.5e3da","name":"","group":"89317f3f.af379","order":2,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":130,"y":600,"wires":[["be75da51.dc3908","47d88c66.35adf4"]]},{"id":"463a7bfc.ca70e4","type":"ui_button","z":"b4513f08.5e3da","name":"","group":"89317f3f.af379","order":3,"width":0,"height":0,"passthru":false,"label":" OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":130,"y":700,"wires":[["be75da51.dc3908","47d88c66.35adf4"]]},{"id":"be75da51.dc3908","type":"debug","z":"b4513f08.5e3da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":680,"wires":[]},{"id":"3c0e8c0c.24b274","type":"http in","z":"b4513f08.5e3da","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":140,"y":760,"wires":[["3359de6b.0c4f82"]]},{"id":"f299121c.23c78","type":"http response","z":"b4513f08.5e3da","name":"","statusCode":"","headers":{},"x":510,"y":760,"wires":[]},{"id":"3359de6b.0c4f82","type":"function","z":"b4513f08.5e3da","name":"","func":"msg.payload=msg.payload.message\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":780,"wires":[["f299121c.23c78","be75da51.dc3908","47d88c66.35adf4"]]},{"id":"c25dd7c6.170b68","type":"inject","z":"b4513f08.5e3da","name":"","topic":"","payload":"crocin","payloadType":"str","repeat":"9","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":560,"wires":[["47d88c66.35adf4"]]},{"id":"389ec0ce.451f6","type":"inject","z":"b4513f08.5e3da","name":"","topic":"","payload":"paracetemol","payloadType":"str","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":520,"wires":[["47d88c66.35adf4"]]},{"id":"47d88c66.35adf4","type":"ibmiot out","z":"b4513f08.5e3da","authentication":"apiKey","apiKey":"8e5f6683.259648","outputType":"cmd","deviceId":"swathi","deviceType":"nodemcu","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":500,"y":540,"wires":[]},{"id":"8e5f6683.259648","type":"ibmiot","z":"","name":"chinni","keepalive":"60","serverName":"ybgl7p.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"89317f3f.af379","type":"ui_group","z":"","name":"Default","tab":"e4a73fef.288ad","disp":true,"width":"6","collapse":false},{"id":"e4a73fef.288ad","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]